{% extends 'request_page/index.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="/stylesheets/option_menu-style.css"/>
{% endblock %}
{% block content %}
    <div class="layer">
        <div class="profile-menu">
            <h1>
                {% trans %} Menu.Option {% endtrans %}
            </h1>
            <hr>
            <div>
                <h2>
                    {% trans %} Option.Security {% endtrans %}
                </h2>
                <div>
                    <h3>
                        {% trans %} Option.Contact {% endtrans %}
                    </h3>
                    <div class="button-space">
                    {% if publicContact == true %}
                        <h4>
                            {% trans %} Option.Enabled {% endtrans %}
                        </h4>
                        <div class="spacer"></div>
                        <a class="menu-button" href="{{ app.user.profileOptions.id }}/PublicContact/false">
                            {% trans %} Option.Disable {% endtrans %}
                        </a>
                    {% else %}
                        <a class="menu-button" href="{{ app.user.profileOptions.id }}/PublicContact/true">
                            {% trans %} Option.Enable {% endtrans %}
                        </a>
                        <div class="spacer"></div>
                        <h4>
                            {% trans %} Option.Disabled {% endtrans %}
                        </h4>
                    {% endif %}
                    </div>
                </div>
                <div>
                    <h3>
                        {% trans %} Option.Status {% endtrans %}
                    </h3>
                    <div class="button-space">
                    {% if showStatus == true %}
                        <h4>
                            {% trans %} Option.Enable {% endtrans %}
                        </h4>
                        <div class="spacer"></div>
                        <a class="menu-button" href="{{ app.user.profileOptions.id }}/ShowStatus/false">
                            {% trans %} Option.Disable {% endtrans %}
                        </a>
                    {% else %}
                        <a class="menu-button" href="{{ app.user.profileOptions.id }}/ShowStatus/true">
                            {% trans %} Option.Enable {% endtrans %}
                        </a>
                        <div class="spacer"></div>
                        <h4>
                            {% trans %} Option.Hide {% endtrans %}
                        </h4>
                    {% endif %}
                    </div>
                </div>
                <div>
                    <h3>
                        {% trans %} Option.Hide {% endtrans %}
                    </h3>
                    <div class="button-space">
                    {% if hidden == true %}
                        <h4>
                            {% trans %} Option.Enabled {% endtrans %}
                        </h4>
                        <div class="spacer"></div>
                        <a class="menu-button" href="{{ app.user.profileOptions.id }}/Hidden/false">
                            {% trans %} Option.Disable {% endtrans %}
                        </a>
                    {% else %}
                        <a class="menu-button" href="{{ app.user.profileOptions.id }}/Hidden/true">
                            {% trans %} Option.Enable {% endtrans %}
                        </a>
                        <div class="spacer"></div>
                        <h4>
                            {% trans %} Option.Disabled {% endtrans %}
                        </h4>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div>
                <h2>
                    {% trans %} Option.Style {% endtrans %}
                </h2>
                <h3>
                    {% trans %} Option.Darkmode {% endtrans %}
                </h3>
                <div class="button-space">
                {% if darkmode == true %}
                    <h4>
                        {% trans %} Option.Enabled {% endtrans %}
                    </h4>
                    <div class="spacer"></div>
                    <a class="menu-button" href="{{ app.user.profileOptions.id }}/Darkmode/false">
                        {% trans %} Option.Disable {% endtrans %}
                    </a>
                {% else %}
                    <a class="menu-button" href="{{ app.user.profileOptions.id }}/Darkmode/true">
                        {% trans %} Option.Enable {% endtrans %}
                    </a>
                    <div class="spacer"></div>
                    <h4>
                        {% trans %} Option.Disabled {% endtrans %}
                    </h4>
                {% endif %}
                </div>
            </div>
            <a class="menu-button" href="/request" style="right: 10px; position: absolute; bottom: 10px">
                {% trans %} Option.Close {% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}