<html>
    <head>
        <title>
            Maxwels
        </title>
        <link rel="shortcut icon" type="x-icon" href="pictures/logo_small_icon_only.png"/>
        <link rel="stylesheet" href="stylesheets/homepage-style.css"/>
        <script src="js-code/homepage-code.js"></script>
        <meta charset="utf-8"/>
    </head>
    <body id="body" onload="createClock()">
    {% if forgotPw is defined and forgotPw == true %}
        <div class="forgot-password-form">

            {% if fromEmail == false %}
                {{ form_start(newPw_form) }}
                {{ form_row(newPw_form.Username) }}
                {{ form_row(newPw_form.Email) }}
                {{ form_row(newPw_form.Submit) }}
                {{ form_end(newPw_form) }}
            {% endif %}

            {% if fromEmail == true %}
                {{ form_start(newPw_form) }}
                {{ form_row(newPw_form.New_Password) }}
                {{ form_row(newPw_form.Confirm_new_Password) }}
                {{ form_row(newPw_form.Submit) }}
                {{ form_end(newPw_form) }}
            {% endif %}

            {% if userExists is defined and userExists == false and userError != 0 %}
                <p>{{ userError }}</p>
            {% endif %}
        </div>
    {% endif %}
        <div class="page">
        {% if error is defined %}
            <div class ="errorBlock">
                Username or Password is wrong
            </div>
        {% endif %}
            <ul class="side-menu" id="sideMenu">
            {% if logged == false %}
                <li class="login-field" id="loginField" style="display: none;">
                    <form class="login" action="{{ path('login') }}" method="post">
                        <input type="text" placeholder="Username" name="_username"/>
                        <input type="password" placeholder="Password" name="_password"/>
                        <span class="log-buttons">
                            <input type="submit" value="Login"/>
                            <input type="button" value="Cancel" onclick="hideLogin()"/>
                        </span>
                    </form>
                    <form class="login" action="/forgot_password">
                        <input type="submit" value="Forgot Password"/>
                    </form>
                </li>
                <li>
                    <a onclick="showLogin()" id="showLoginButton">
                        Login
                    </a>
                </li>
                <li>
                    <a href="/register">
                        Sign up
                    </a>
                </li>
            {% endif %}
            {% if logged == true %}
                <li>
                    <a href="{{ path('user_logout') }}">
                        Logout
                    </a>
                </li>
                <li>
                    <a href="/request">
                       Requests
                    </a>
                </li>
                {% if isSubscriber['Subscribed'] == false %}
                <li>
                    <a href="/subscripton">
                        Subscribe
                    </a>
                </li>
                {% endif %}
            {% endif %}
                <li>
                    <a href="#statistic">
                        About
                    </a>
                </li>
                <li>
                    <a href="#news">
                        News
                    </a>
                </li>
                <li>
                    <a href="#contacts">
                        Contacts
                    </a>
                </li>
                <li>
                    <button class="side-menu-button1" id="smButton2" onclick="closeSideMenu()">
                        X
                    </button>
                </li>
            </ul>
            <div class="header">
                <img id="websiteLogo" src="pictures/maxwel_cover(2).jpg" width="100%"/>
                <img style="top: 0" class="side-menu-button2" id="smButton" onclick="openSideMenu()" src="pictures/menu.png" height="50px" width="100px"/>
            </div>
            <div class="spacer">
                <p> Programmer you can trust! </p>
            </div>
            <div class="content">
                <div class="main-page">
                    <div class="statistic" id="statistic">
                        <div id="aboutUs" onclick="aboutBlockOpen('aboutUs', 'aboutUsText')" onmouseleave="aboutBlockClose('aboutUs', 'aboutUsText')">
                            <h1> About Us </h1>
                            <p id="aboutUsText">
                                Text
                            </p>
                        </div>

                        <div id="aboutRequest" onclick="aboutBlockOpen('aboutRequest', 'aboutRequestText')" onmouseleave="aboutBlockClose('aboutRequest', 'aboutRequestText')">
                            <h1> Requests</h1>
                            <p id="aboutRequestText"> 0 </p>
                        </div>

                        <div id="aboutRating" onclick="aboutBlockOpen('aboutRating', 'aboutRatingText')" onmouseleave="aboutBlockClose('aboutRating', 'aboutRatingText')">
                            <h1> Rating </h1>
                            <p id="aboutRatingText">satisfaction rate </p>
                        </div>
                    </div>
                    <div class="spacer">
                        <p> What happend and What will happen </p>
                    </div>
                    <div class="news-overlay" id ="news">
                        <div class="news-container">
                            <div class="news" onclick="newsBlockOpen('image1', 'newsText1')" onmouseleave="newsBlockClose('image1', 'newsText1')">
                                <div class="news-panel">
                                    <img id="image1" src="pictures/logo_icon_inverted.png" height="100px" width="100px"/>
                                    <h1> First Post </h1>
                                    <p id="newsText1"> Text </p>
                                </div>
                            </div>
                            <div class="news" onclick="newsBlockOpen('image2', 'newsText2')" onmouseleave="newsBlockClose('image2', 'newsText2')">
                                <div class="news-panel">
                                    <img id="image2" src="pictures/logo_icon_inverted.png" height="100px" width="100px"/>
                                    <h1> Second Post </h1>
                                    <p id="newsText2"> Text </p>
                                </div>
                            </div>
                            <div class="news" onclick="newsBlockOpen('image3', 'newsText3')" onmouseleave="newsBlockClose('image3', 'newsText3')">
                                <div class="news-panel">
                                    <img id="image3" src="pictures/logo_icon_inverted.png" height="100px" width="100px"/>
                                    <h1> Third Post </h1>
                                    <p id="newsText3"> Text </p>
                                </div>
                            </div>
                            <div class="news" onclick="newsBlockOpen('image4', 'newsText4')" onmouseleave="newsBlockClose('image4', 'newsText4')">
                                <div class="news-panel">
                                    <img id="image4" src="pictures/logo_icon_inverted.png" height="100px" width="100px"/>
                                    <h1> Fourth Post </h1>
                                    <p id="newsText4"> Text </p>
                                </div>
                            </div>
                            <div class="news" onclick="newsBlockOpen('image5', 'newsText5')" onmouseleave="newsBlockClose('image5', 'newsText5')">
                                <div class="news-panel">
                                    <img id="image5" src="pictures/logo_icon_inverted.png" height="100px" width="100px"/>
                                    <h1> Fifth Post </h1>
                                    <p id="newsText5"> Text </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer">
                <p> How You can contact me </p>
            </div>
            <div class="footer">
                <img src="pictures/smaller_icon.png" width="200" height="200" />
                <div class="contacts" id="contacts">
                    <p> Copyright © Maxwels 2021 </p>
                    <p> maxwels-programming@gmail.com </p>
                    <p> Tel: 2365/424523542625 </p>
                </div>
            </div>
        </div>
    </body>
</html>