{% extends 'admin_pages/index.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="/stylesheets/table-style.css"/>
    <link rel="stylesheet" href="/stylesheets/arrow-style.css"/>
{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
            {% for attribute in attributes %}
                <th>
                    {{ attribute }}
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
            {% for data in attributes %}
                <td>
                    {% if attribute(entity,data).timestamp is defined  %}
                        {{ attribute(entity,data) |date('m-d-Y') }}
                    {% elseif attribute(entity,data).username is defined %}
                        {{ attribute(entity,data).username}}
                    {% else %}
                        {{ attribute(entity,data)}}
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% if edit is defined %}
    <form>
        <label for="object">Entity</label>
        <select id="object" name="object">
        {% for entity in entities %}
            <option value="{{ entity }}">
                {{ entity }}
            </option>
        {% endfor %}
            <submit name="edit" value="Edit" action="/admin/ask/edit/entity{{ entity.id}}">Edit</submit>
            <submit name="edit" value="Edit" action="/admin/ask/delete/entity{{ entity.id}}">Edit</submit>
        </select>
    </form>
    {% endif %}
{% endblock %}