{% extends 'request_page/index.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="/stylesheets/chat-style.css"/>
{% endblock %}
{% block content %}
    <div class="chat-box">
        <div class="chat-head">
            <div class="search-user">
                <form action="/chat/newchat">
                    <select name="user">
                        {% for user in user_list %}
                            <option value="{{ user.id }}">
                                {{ user.username }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Message">
                </form>
            </div>
            {% if is_granted('ROLE_CREATE_GROUP') %}<div class="create-group">
            <div>
                <a href="/">
                    Create Group
                </a>
            </div>
            {% endif %}
            <a href="/request">
                X
            </a>
        </div>
        <div class="chat-content">
            <div class="chat-list">
            {% for chat in chats %}
                {% set lastMessage = getLastMessage(chat) %}
                {% if lastMessage != null %}
                <a class="chat-banner" href="/request/user/chat/{{ chat.id }}/#{{ lastMessage.id }}">
                    <img src="/pictures/UserProfilePicture.png" class="profile-picture">
                    <p>{{ getChatContact(chat, app.user).username }}<br>
                    <small>{{ lastMessage.Content }}</small></p>
                </a>
                {% else %}
                    <a class="chat-banner" href="/request/user/chat/{{ chat.id }}">
                        <img src="/pictures/UserProfilePicture.png" class="profile-picture">
                        <p>{{ getChatContact(chat, app.user).username }}</p>
                    </a>
                {% endif %}
            {% endfor %}
            </div>
            <div class="conversation">
            {% if messages is defined %}
                <div class="text-container">
                {% for message in messages %}
                    {% if app.user.UserIdentifier == message.Source.User.UserIdentifier  %}
                        <div id="{{ message.id }}" class="chat-message" style="margin-left: 49%; background: #3adb76">
                            <p class="message-content">{{ message.content }}</p>
                        </div>
                    {% else %}
                        <div id="{{ message.id }}" class="chat-message" style="margin-right: 49%">
                            <p class="message-user">{{ message.Source.User.UserIdentifier }}</p>
                            <p class="message-content">{{ message.content }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
                {% if currentChat is defined %}
                    <div class="message-field">
                        <form action="/request/user/chat/send/{{ currentChat }}/{{ app.user.id }}">
                            <input type="text" placeholder="Message..." class="message-input" name="message">
                            <input type="submit" value="send">
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}