{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block head %}
    <title>Maxwels Requests</title>
    <link rel="stylesheet" href="/stylesheets/requestpage-style.css"/>
    <link rel="stylesheet" href="/stylesheets/arrow-style.css"/>
{% endblock %}
{% block body %}
    {% if app.user.profileOptions.darkmode == true %}
        {% set color = '#0c2436' %}
        {% set colorWords = 'white' %}
    {% else %}
        {% set color = 'white' %}
        {% set colorWords = 'black' %}
    {% endif %}
    <div class="mainpage" style="background: {{ color }}">
        <div class="menu">
            <div class="dropdown">
                {% if app.user.status == 'online' %}
                <a style="color: #3adb76">
                    {{ app.user.username }}
                    <div class="arrow right in-menu">
                    </div>
                </a>
                {% elseif app.user.status == 'busy' %}
                <a style="color: orange">
                    {{ app.user.username }}
                    <div class="arrow right in-menu">
                    </div>
                </a>
                {% elseif app.user.status == 'offline' %}
                <a style="color: red">
                    {{ app.user.username }}
                    <div class="arrow right in-menu">
                    </div>
                </a>
                {% endif %}
                <ul>
                    <li class="status-menu">
                        <a>
                            {% trans %} Menu.Status {% endtrans %}
                        </a>
                        <ul>
                            <li>
                                <a href="/user/status_update/online" style="color: #3adb76">
                                    {% trans %} Online {% endtrans %}
                                </a>
                            </li>
                            <li>
                                <a href="/user/status_update/busy" style="color: orange">
                                    {% trans %} Busy {% endtrans %}
                                </a>
                            </li>
                            <li>
                                <a href="/user/status_update/offline" style="color: red">
                                    {% trans %} Offline {% endtrans %}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/user/{{ app.user.id }}/profile/option">
                            {% trans %} Menu.Option {% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('profile_data') }}">
                            {% trans %} Menu.Contact {% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('main_page') }}">
                            {% trans %} Menu.Home {% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('user_logout') }}">
                            {% trans %} Menu.Logout {% endtrans %}
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <a href="/request/all_requests/1">
                    {% trans %} Header.My {% endtrans %}
                </a>
            </div>
            <div>
                <a href="/request/done_requests/1">
                    {% trans %} Header.Done {% endtrans %}
                </a>
            </div>
            {% if is_granted('ROLE_TAKE_REQUESTS') or is_granted('ROLE_ADMIN') %}
            <div>
                <a href="/request/all_open_requests/1">
                    {% trans %} Header.All {% endtrans %}
                </a>
            </div>
            {% endif %}
            {% if is_granted('ROLE_MANAGE_OWN_REQUESTS') or is_granted('ROLE_ADMIN')%}
                <div>
                    <a href="/request/createRequest">
                        {% trans %} Header.Create {% endtrans %}
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
