{% extends 'request_page/index.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="/stylesheets/table-style.css"/>
    <link rel="stylesheet" href="/stylesheets/arrow-style.css"/>
{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                {% for item in tableContent %}
                <th>
                    {{ item }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for req in requests %}
            <tr>
                {% if 'Working on' in tableContent %}
                <td>
                    {% if req.WorkingOn is null %}

                    {% else %}
                    {{ req.WorkingOn.getUsername() }}
                    {% endif %}
                </td>
                {% endif %}

                {% if 'Created by' in tableContent %}
                <td>
                    {{ req.CreatedBy.getUsername() }}
                </td>
                {% endif %}

                {% if 'Status' in tableContent %}
                    {% if req_form is defined %}
                        {{ form_start(req_form) }}
                        <td>
                            {{ form_row(req_form.Status) }}
                        </td>
                    {% else %}
                    <td>
                        {{ req.status }}
                    </td>
                    {% endif %}
                {% endif %}

                {% if 'Context' in tableContent %}
                    {% if req_form is defined %}
                        <td>
                            {{ form_row(req_form.Context) }}
                        </td>
                    {% else %}
                        <td>
                            {{ req.context }}
                        </td>
                    {% endif %}
                {% endif %}
                {% if 'Created on' in tableContent %}
                <td>
                    {{ req.CreatedOn|date('m-d-Y') }}
                </td>
                {% endif %}

                {% if 'Deadline' in tableContent %}
                    {% if req_form is defined %}
                        <td>
                            {{ form_row(req_form.Deadline) }}
                        </td>
                    {% else %}
                        <td>
                            {% if req.deadline is null %}

                            {% else %}
                                {{ req.deadline|date('m-d-Y') }}
                            {% endif %}
                        </td>
                    {% endif %}
                {% endif %}
                {% if req_form is defined %}
                    <td>
                        <button type="submit" class="btn">Create Request</button>
                        {{ form_end(req_form) }}
                    </td>
                {% else %}
                    {% if takeable is defined%}
                        <td>
                           <a href="/request/take_request/{{ req.id }}">
                               Take
                           </a>
                        </td>
                    {% endif %}
                    {% if req.WorkingOn.getId() is defined and req.WorkingOn.getId()  == app.user.id %}
                        <td>
                            <a href="/request/done_request/{{ req.id }}">
                                Done
                            </a>
                        </td>
                    {% endif %}
                    {% if req.CreatedBy.getId() is defined and req.CreatedBy.getId() == app.user.id %}
                        <td>
                            <a href="/request/edit_request/{{ req.id }}">
                                Edit
                            </a>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        {% if currentPage is defined %}
        <div class="page-navigator">
            <div>
                {% if lastPage is null %}
                <a class="arrow left">
                </a>
                {% else %}
                    <a class="arrow left" href="{{ lastPageUrl }}" style="border-color: red">
                    </a>
                {% endif %}
            </div>
            <h3 style="color: {{ colorWords }}">
               {{ currentPage }}
            </h3>
            <div>
                {% if nextPage is null %}
                    <a class="arrow right">
                    </a>
                {% else %}
                    <a class="arrow right" href="{{ nextPageUrl }}" style="border-color: #3adb76">
                    </a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </table>
{% endblock %}