<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="shortcut icon" type="x-icon" href="/pictures/logo_small_icon_only.png"/>
        <link rel="stylesheet" href="{{ routing }}stylesheets/user_request-style.css"/>
        <title>
            Your Requests
        </title>
    </head>
    <body class="bg">
        <div class="face">
            <div class="mail-icon">
                <image src="{{ routing }}pictures/mail_icon.png" style="height: 90"/>
            </div>
            <div class="notification">
                <p class='number' id='number'></p>
            </div>
            <div class="programmer-bar">
                <ul>
                    <li class="programmers">
                        <a class="list-face">
                            Programmer
                        </a>
                        <ul>
                            <li>
                                <a href='mailto:$mail' id='you' class='programmer-icon' style='background-color: #00ff00; color:black;'>
                                    $username is $status
                                </a>
                            </li>
                            <li>
                                <a id='you' class='programmer-icon' style='background-color: #ff0000; color:black;'>
                                    $username is $status
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="programm-theme">
                        <a class="list-face">
                            Programms
                        </a>
                        <ul>
                            <li>
                                <a>
                                    Website
                                </a>
                            </li>
                            <li>
                                <a>
                                    Design
                                </a>
                            </li>
                            <li>
                                <a>
                                    Game
                                </a>
                            </li>
                            <li>
                                <a>
                                    Database
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <form class="search-field" method="post">
                            <input class="type-field" type="test" list ="suggestions"name="search"/>
                            <datalist id="suggestions" name="search">
                                <option value='$name | $mail'>
                            </datalist>
                            <input class="search-button" type="submit" value="🔎" onclick="search($_GET['search'])"/>
                        </form>
                    </li>
                    <li class="help">
                        <a href="mailto:maxwels.contacts@gmail.com" class="list-face">
                            ?
                        </a>
                    <li>
                </ul>
            </div>
            <div class="request-bar">
                <ul>
                    <li>
                        <a class="list-face" href="/request/user/all_requests/1">
                            Show all
                        </a>
                    </li>
                    <li>
                        <a class="list-face" href="/request/user/add_requests">
                            Add
                        </a>
                    </li>
                    <li>
                        <a class="list-face" href="/request/user/done_requests/1">
                            Done
                        </a>
                    </li>
                    <li>
                        <a class="list-face" onclick="showMessanger()">
                            Chat
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-screen">
            {% if showMyRequests %}
                <div class="all-requests" id="allRequests" style="display: flex">
                    <table class='request-table' id='request-table'>
                        <thead>
                            <tr>
                                <th> Working on </th>
                                <th> Context </th>
                                <th> Status </th>
                                <th> Created on </th>
                                <th> Deadline </th>

                            </tr>
                        </thead>
                        <tbody>
                        {% for request in myRequests %}
                            <tr>
                            {% if request.getWorkingOn == null %}
                                <td> /// </td>
                            {% else %}
                                <td> {{ request.getWorkingOn.username }} </td>
                            {% endif %}
                                <td> {{ request.getContext }} </td>
                                <td> {{ request.getStatus }} </td>
                                <td> {{ request.getCreatedOn | date("m/d/Y")}}  </td>
                            {% if request.getDeadline == null %}
                                <td id="{{ request.getId }}" ondblclick="editDeadline({{ request.getId }})"> /// </td>
                            {% else %}
                                <td id="{{ request.getId }}" ondblclick="editDeadline({{ request.getId }})"> {{ request.getDeadline | date("m/d/Y")}} </td>
                            {% endif %}
                                <td>
                                    <div class='edit-icon' id='editIcon'>
                                        <image class='icon-img' src='{{ routing }}pictures/delete-icon.png' onclick='editRequest({{ request.getId }},"delete")'>delete</image>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if nextPage != null and lastPage != null %}
                    <div class="pageMenu">
                    <span>
                        <a class="lastPage" href="/request/user/all_requests/{{ lastPage }}">{{ lastPage }}</a>
                        <---
                        <a class="currentPage">{{ currentPage }}</a>
                        --->
                        <a class="nextPage" href="/request/user/all_requests/{{ lastPage }}">{{ nextPage }}</a>
                    </span>
                    </div>
                {% elseif nextPage != null %}
                    <div class="pageMenu">
                    <span>
                        <a class="currentPage">{{ currentPage }}</a>
                        --->
                        <a class="nextPage" href="/request/user/all_requests/{{ nextPage }}">{{ nextPage }}</a>
                    </span>
                    </div>
                {% elseif nextPage == null %}
                    <div class="pageMenu">
                    <span>
                        <a class="lastPage" href="/request/user/all_requests/{{ lastPage }}">{{ lastPage }}</a>
                        <---
                        <a class="currentPage">{{ currentPage }}|</a>
                    </span>
                    </div>
                {% endif %}
            {% endif %}
            {% if showDoneRequests %}
                <div class="all-requests" id="doneRequests" style="display: flex">
                    <table class='request-table' id='request-table'>
                        <thead>
                            <tr>
                                <th> Working on </th>
                                <th> Context </th>
                                <th> Vote </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for request in doneRequests %}
                            <tr>
                                <td> {{ request.getWorkingOn.username }} </td>
                                <td> {{ request.getContext }} </td>
                                <td> {{ request.getVote }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if nextPage != null and lastPage != null %}
                    <div class="pageMenu">
                    <span>
                        <a class="lastPage" href="/request/user/done_requests/{{ lastPage }}">{{ lastPage }}</a>
                        <---
                        <a class="currentPage">{{ currentPage }}</a>
                        --->
                        <a class="nextPage" href="/request/user/done_requests/{{ nextPage }}">{{ nextPage }}</a>
                    </span>
                    </div>
                {% elseif nextPage != null %}
                    <div class="pageMenu">
                    <span>
                        <a class="currentPage">{{ currentPage }}</a>
                        --->
                        <a class="nextPage" href="/request/user/done_requests/{{ nextPage }}">{{ nextPage }}</a>
                    </span>
                    </div>
                {% elseif nextPage == null %}
                    <div class="pageMenu">
                    <span>
                        <a class="lastPage" href="/request/user/done_requests/{{ lastPage }}">{{ lastPage }}</a>
                        <---
                        <a class="currentPage">{{ currentPage }}|</a>
                    </span>
                    </div>
                {% endif %}
            {% endif %}
            {% if showAddRequests %}
                <div class="all-requests" id="addRequests" style="display: flex">
                    <div class="createRequestBG">
                        <form class="createRequest" action="{{ path('create_request') }}">
                            <label for='topic'> What is it about </label><br>
                            <input type='text' id='topic' name='context'/><br>
                            <input class= 'radio-label' type='date' id='Date' name='deadline'/><br>
                            <input type='submit' value='Create Request'/>
                        </form>
                    </div>          
                </div>
            {% endif %}
            </div>
        </div>
    </body>
</html>